#Flight Delays Data
In this section we’ll walk through a few examples of queries on the Airline On-Time
Performance and Causes of Flight Delays data set, which contains data on US flights
including date, delay, distance, origin, and destination. It’s available as a CSV file with
over a million records.
We will use SQL in your Spark applications via the spark.sql programmatic interface. Similar to the DataFrame API in its declarative
flavor, this interface allows you to query structured data in your Spark
applications.

In [2]:
from pyspark.sql import SparkSession
# Create a SparkSession
spark = (SparkSession
         .builder
         .appName("SparkSQLExampleApp")
         .getOrCreate())

In [3]:
# Path to data set
csv_file = "/databricks-datasets/learning-spark-v2/flights/departuredelays.csv"

# Read and create a temporary view
# Infer schema (note that for larger files you
# may want to specify the schema)
df = (spark.read.format("csv")
      .option("inferSchema", "true")
      .option("header", "true")
      .load(csv_file))

df.createOrReplaceTempView("us_delay_flights_tbl")

In [4]:
df.show()

Now that we have a temporary view, we can issue SQL queries using Spark SQL.

#Query 1:
Find out all flights whose distance between origin and destination is greater than 1000

In [7]:
(spark.sql("""SELECT distance, origin, destination 
              FROM us_delay_flights_tbl 
              WHERE distance > 1000 
              ORDER BY distance DESC""")
.show(10, truncate=False))

In [8]:
"""Equivalent in DataFrame"""

from pyspark.sql.types import *
from pyspark.sql.functions import *

(df.select("distance", "origin", "destination")
 .where(col("distance") > 1000)
 .orderBy(desc("distance"))
 .show(10, truncate=False))

#Query 2:
Find out all flights with 2 hour delays between San Francisco and Chicago

In [10]:
(spark.sql("""SELECT date, delay, origin, destination 
              FROM us_delay_flights_tbl 
              WHERE delay > 120 AND origin = 'SFO' AND destination = 'ORD'
              ORDER BY delay DESC""")
.show(10, truncate=False))

#Query 3:
A more complicated query in SQL, let's label all US flights originating from airports with high, medium, low, no delays, regardless of destinations.

In [12]:
spark.sql("""SELECT delay, origin, destination,
              CASE
                  WHEN delay > 360 THEN 'Very Long Delays'
                  WHEN delay > 120 AND delay < 360 THEN  'Long Delays '
                  WHEN delay > 60 AND delay < 120 THEN  'Short Delays'
                  WHEN delay > 0 and delay < 60  THEN   'Tolerable Delays'
                  WHEN delay = 0 THEN 'No Delays'
                  ELSE 'No Delays'
               END AS Flight_Delays
               FROM us_delay_flights_tbl
               ORDER BY origin, delay DESC""").show(10, truncate=False)

## DataFrames and Spark SQL Common Relational Operators

The power of Spark SQL is that it contains many DataFrame Operations (also known as Untyped Dataset Operations). 

For the full list, refer to [Spark SQL, Built-in Functions](https://spark.apache.org/docs/latest/api/sql/index.html).

In the next section, we will focus on the following common relational operators:
* Unions and Joins
* Windowing
* Modifications

In [14]:
airports_path = "/databricks-datasets/learning-spark-v2/flights/airport-codes-na.txt"

airports = spark.read.options(header='true', inferSchema='true', sep='\t').csv(airports_path)
airports.createOrReplaceTempView("airports_na")

delays = (df
          .withColumn("delay", expr("CAST(delay as INT) as delay"))
          .withColumn("distance", expr("CAST(distance as INT) as distance")))

delays.createOrReplaceTempView("departureDelays")

In [15]:
delays.show()

Create temporary small table

In [17]:
foo = delays.filter(expr("""
            origin == 'ABE' AND 
            destination == 'ATL' AND 
            date like '104%' AND 
            delay > 0"""))

foo.createOrReplaceTempView("foo")

In [18]:
foo.show()

In [19]:
spark.sql("SELECT * FROM airports_na LIMIT 10").show()

In [20]:
spark.sql("SELECT * FROM departureDelays LIMIT 10").show()

In [21]:
spark.sql("SELECT * FROM foo LIMIT 10").show()

* Union two tables

In [23]:
bar = delays.union(foo)
bar.createOrReplaceTempView("bar")
bar.filter(expr("origin == 'ABE' AND destination == 'ATL' AND date LIKE '104%' AND delay > 0")).show()

In [24]:
spark.sql("""
SELECT * 
FROM bar 
WHERE origin = 'ABE' 
   AND destination = 'ATL' 
   AND date LIKE '104%'
   AND delay > 0
""").show()

In [25]:
bar.show()

* Join two tables

In [27]:
# Join Departure Delays data (foo) with flight info
foo.join(
  airports, 
  airports.IATA == foo.origin
).select("City", "State", "date", "delay", "distance", "destination").show()

In [28]:
spark.sql("""
SELECT a.City, a.State, f.date, f.delay, f.distance, f.destination 
  FROM foo f
  JOIN airports_na a
    ON a.IATA = f.origin
""").show()

## Windowing Functions

Great reference: [Introduction Windowing Functions in Spark SQL](https://databricks.com/blog/2015/07/15/introducing-window-functions-in-spark-sql.html)

> At its core, a window function calculates a return value for every input row of a table based on a group of rows, called the Frame. Every input row can have a unique frame associated with it. This characteristic of window functions makes them more powerful than other functions and allows users to express various data processing tasks that are hard (if not impossible) to be expressed without window functions in a concise way.

In [30]:
spark.sql("DROP TABLE IF EXISTS departureDelaysWindow")
spark.sql("""
CREATE TABLE departureDelaysWindow AS
SELECT origin, destination, sum(delay) as TotalDelays 
  FROM departureDelays 
 WHERE origin IN ('SEA', 'SFO', 'JFK') 
   AND destination IN ('SEA', 'SFO', 'JFK', 'DEN', 'ORD', 'LAX', 'ATL') 
 GROUP BY origin, destination
""")

spark.sql("""SELECT * FROM departureDelaysWindow""").show()

What are the top three total delays destinations by origin city of SEA, SFO, and JFK?

In [32]:
spark.sql("""
SELECT origin, destination, sum(TotalDelays) as TotalDelays
 FROM departureDelaysWindow
WHERE origin = 'SEA'
GROUP BY origin, destination
ORDER BY sum(TotalDelays) DESC
LIMIT 3
""").show()

What if for each of these origin airports you wanted to find the three destinations that
experienced the most delays? You could achieve this by running three different queries
for each origin and then unioning the results together.

But a better approach would be to use a window function like dense_rank() to perform
the following calculation:

In [34]:
spark.sql("""
SELECT origin, destination, TotalDelays, rank 
  FROM ( 
     SELECT origin, destination, TotalDelays, dense_rank() 
       OVER (PARTITION BY origin ORDER BY TotalDelays DESC) as rank 
       FROM departureDelaysWindow
  ) t 
 WHERE rank <= 3
""").show()

## Modifications

Another common DataFrame operation is to perform modifications to the DataFrame. Recall that the underlying RDDs are immutable (i.e. they do not change) to ensure there is data lineage for Spark operations. Hence while DataFrames themselves are immutable, you can modify them through operations that create a new, different DataFrame with different columns, for example.

In [36]:
foo.show()

* adding new columns

In [38]:
foo2 = foo.withColumn("status", expr("CASE WHEN delay <= 10 THEN 'On-time' ELSE 'Delayed' END"))
foo2.show()

* dropping columns

In [40]:
foo3 = foo2.drop("delay")
foo3.show()

* Renaming columns

In [42]:
foo4 = foo3.withColumnRenamed("status", "flight_status")
foo4.show()

* Pivoting

In [44]:
spark.sql("""SELECT destination, CAST(SUBSTRING(date, 0, 2) AS int) AS month, delay FROM departureDelays WHERE origin = 'SEA'""").show(10)

In [45]:
spark.sql("""
SELECT * FROM (
SELECT destination, CAST(SUBSTRING(date, 0, 2) AS int) AS month, delay 
  FROM departureDelays WHERE origin = 'SEA'
) 
PIVOT (
  CAST(AVG(delay) AS DECIMAL(4, 2)) as AvgDelay, MAX(delay) as MaxDelay
  FOR month IN (10 OCT, 11 NOV, 12 DEC)
)
ORDER BY destination
""").show()